@{
    ViewData["Title"] = "Datos Personales";
}
<h1>@ViewData["Title"]</h1>

<div class="personal-information"> 
    <p>@ViewData["Name"]</h5>
    <p>@ViewData["Lastname"]</h5>
    <p>@ViewData["Age"]</h5>
    <p>@ViewData["Email"]</h5>
    <p>@ViewData["Phone"]</h5>
</div>
